@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  src: url('font/Blockat\ DEMO.otf');
  font-family: Blockat;
}

:root {
  /* color */

  --color-background : #111827;
  --text-primary: #000;
  --task-bg: #1F2937;
  --color-icon: #D1D5DB;
  --color-border: #374151;
  --main-text : #181717;
  --sec-text: #D1D5DB;
  --muted-text: #232f4d;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

body {
  width: 600px;
  background: var(--color-background);
  margin: auto;
  font-family: "Inter", sans-serif;;
  overflow-x: hidden;
  position: relative;
}

.app-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  width: 600px;
  height: 100vh;
  overflow-y: auto; 
  position: relative;
}

.app-container::-webkit-scrollbar {
  display: none; 
}

.header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  font-family: Blockat, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--text-primary);
}

.search-panel {
  margin-top: 30px;
}

.search-panel input {
  width: 300px;
  padding: 4px 8px;
  background: transparent;
  border-bottom: 2px solid var(--color-border);
  margin-right: 10px;
  color: var(--text-primary);
  font-size: 20px;
}

.search-panel button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icons i {
  color: var(--color-icon);
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}




.add-btn {
  width: 50px;
  height: 50px;
  background: red;
  position: fixed;    
  bottom: 20px;
  right: calc(50% - 300px + 20px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-btn i {
  color: var(--color-icon);
  font-size: 25px;
  font-weight: 900;
}

.task-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin-top: 30px;
}

.tab {
  padding: 8px 16px;
  background: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}

.tab:not(:first-child) {
  margin-left: 20px;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  padding-inline: 5px;
  flex-direction: column;
}

.task {
  position: relative;
  display: flex;
  padding: 10px 20px;
  gap: 10px;
  flex-direction: column;
  color: var(--muted-text);
  border-radius: 10px;
  width: 70%;
  margin-top: 20px;
  background: var(--task-bg);
}

.time-frame {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #000;
  padding: 6px 12px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.task-btn {
  display: flex;
  gap: 20px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.task-btn i {
  font-size: 20px;
  cursor: pointer;
  color: var(--color-icon);
}

.priority, .category {
  padding: 3px 10px;
  margin-left: 8px;
  border-radius: 20px;
  font-size: 12px;
}

.desc {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.task-title {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.task-title h1 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--main-text);
}

.task-title span i, .desc span i {
  font-size: 25px;
}