@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  src: url('font/Blockat\ DEMO.otf');
  font-family: Blockat;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: none;
}

body {
  width: 600px;
  height: 100vh;
  background: #000;
  margin: auto;
  border: 2px solid red;
  font-family: "Inter", sans-serif;;
}

.app-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.header {
  border: 2px solid white;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  font-family: Blockat, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

.search-panel {
  margin-top: 30px;
}

.search-panel input {
  width: 300px;
  padding: 4px 8px;
  background: transparent;
  border-bottom: 2px solid green;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.search-panel button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icons i {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.add-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
  bottom: 100px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-btn i {
  color: #fff;
  font-size: 25px;
  font-weight: 900;
}